@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Raleway:wght@500;700;900&display=swap');
:root{
	/** Colores **/
	--colorPrimario: #4a4a4a;
	--amarillo: #ffcd38;
    --amarilloClaro: #ffdd67;
	--grisOscuro: #373a40;
	--grisClaro: #686d76;
	--base: #f3f3f3;
    --blanco: #fff;

	/** Fuentes **/
	--fuentePrincipal: 'DM Sans', sans-serif;
	--fuenteHeadings: 'Raleway', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
}
/** Globales **/
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
p{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    font-size: 3rem;
    color: #04074a;
    padding: 3px;
    margin: 0;
}

.backgr404{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url(../image/404.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.backgr404 button{
    position: absolute;
    bottom: 70px;
    left: 35%;
    background-color: var(--blanco);
    border: none;
    box-shadow: 2px 2px 5px #999;
    border-radius: 10px;
    cursor: pointer;
}
@media (min-width: 800px) {
    .backgr404 button{
        bottom: 30px;
        left: 45%;
    }
}

.designed{
    position: fixed;
    bottom: 0px;
    right: 30vw;
}
@media (min-width: 800px) {
    .designed{
        bottom: 30px;
        right: 100px;
    }
}
.designed p{
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal);
    font-weight: 400;
    color: var(--blanco);
}

.designed img{
    width: 1.5rem;
    height: 1.5rem;
}


