@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Raleway:wght@500;700;900&display=swap');
:root{
	/** Colores **/
	--colorPrimario: #52575d;
	--amarillo: #fddb3a;
	--grisOscuro: #373a40;
	--grisClaro: #686d76;
	--base: #f6f4e6;
  --blanco: #fff;

	/** Fuentes **/
	--fuentePrincipal: 'DM Sans', sans-serif;
	--fuenteHeadings: 'Raleway', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 2;
}
p {
    font-size: 1.8rem;
    line-height: 5rem;
}
h1,h2,h3,h4 {
    font-family: var(--fuenteHeadings);
    font-weight: 900;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
    text-align:center;
    color: var(--colorPrimario);
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.4rem;
}
/** Globales **/
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
/* Utilidades **/
.text-center {
    text-align: center;
}
.texto-primario {
    color: var(--colorPrimario);
}
.section {
    padding: 9rem;
    padding-top: 40px;
    font-size: 1em;
    text-align: center;
    background: #f1ede3;
    width: 100%;
    height: auto;
    color: #555;
    border-radius: 10px 0px 0px 45px;
    -webkit-transition: background 0.5s ease-in-out;
        transition: background 0.5s ease-in-out;
}


/** Header **/
.site-header {
    padding-top: 2rem;
    height: auto;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.site-header h2 {
  padding-top: 15rem;
}
.site-header p {
  font-family: var(--fuenteHeadings);
  text-align: center;
  color: var(--colorPrimario);
  padding-top: 2rem;
}
@media (min-width: 768px) {
    header.site-header {
        height: 100vh;
        max-height:900px;
    }
    .header-grid {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .header-grid .barra-navegacion {
        grid-column: 1 / 5;
    }
}
.site-header {
    background-image: url("../image/baner01.png");
    padding: 2rem 0;
}
@media (min-width: 768px) {
    .barra-navegacion {
        display: flex;
        justify-content: space-between;
    }
}

/** Barra fija **/
@media (min-width: 768px) {
    body.ft-activo {
        margin-top: 4rem;
    }
    .fixed-top {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--amarillo);
        padding: 1rem 5rem;
        height: 10rem;
        z-index: 10000;
        transition: all .3s ease;
    }
    .fixed-top img {
        width: 12rem;
    }
}

.logo {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding-left: 5rem;
    top: 1rem;
    font-family: var(--fuenteHeadings);
    font-weight: 900;
}
.logo a {
  color: var(--grisOscuro);
}

/** Menu Principal **/
.menu-principal {
    display: none;
}

@media (min-width: 768px) {
    .menu-principal {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .menu-principal .menu {
        display: flex;
        justify-content: space-around;
    }
    .menu-principal li {
        margin-right: 2rem;
    }
    .menu-principal li:last-of-type{
        margin-right: 0;
    }
}

.menu-principal a {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.2rem;
    padding: .5rem 2rem;
    display: block;
}
@media (min-width: 768px) {
    .menu-principal a {
        font-size: 2.6rem;
        position: relative;
        z-index: 1;
    }
    .menu-principal a::before, 
    .menu-principal a::after {
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-color: var(--colorPrimario);
        z-index: -1;
        transform: scaleX(0);
        transition: transform .6s;
    }
    .menu-principal a::before {
        top: 0;
        transform-origin: left;
    }
    .menu-principal a::after {
        top:50%;
        transform-origin: right;
    }
    .menu-principal a:hover::before {
        transform: scaleX(1);
    }
    .menu-principal a:hover::after {
        transform: scaleX(1);
    }
}
.menu-principal .current_page_item {
    border-bottom: 3px solid var(--colorPrimario);
}

/** Reescribir Estilos menú movil **/
.slicknav_menu {
  position: fixed;
  background-color: var(--amarillo);
  display: block;
  align-items: center;
  width: 100%;
  top: 0;
  border-radius: 0px 0px 0px 45px;
}
@media (min-width: 768px) {
    .slicknav_menu {
        display: none;
    }
}
.slicknav_btn {
    background-color: var(--grisOscuro);
    margin: .3rem 0;
    padding: 1.5rem;
    border-radius: 50px;
}

.slicknav_nav a {
    font-size: 2.4rem;
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: var(--grisClaro);
}

.slicknav_nav a:hover {
    background: transparent;
    color: var(--colorPrimario);
}
/* Theme */
.night .section {
  background: #080d17;
  color: #e9e5d5;
}
.night #intro-text {
    color: #e9e5d5;
}

#switch,
#circle {
  height: 30px;
  -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
          transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
} 
#switch {
  width: 60px;
  margin: 0 auto;
  border: 2px solid #DA8508;
  border-radius: 27px;
  background: #DA8508;
  position: relative;
}
#circle {
  margin-top: 5%;
  margin-left: 5%;
  width: 40%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  background: #e9e5d5;
}
.switched {
  border-color: #1C3958 !important;
  background: #1C3958 !important;
}
.switched #circle {
  margin-left: 55%;
  background: #e9e5d5;
}
.modo .noche {
  display: none;
}